   
<h3> View Account Details</h3>
<div>
    <div>
        <label> <b>  Name: </b></label> {{account.name}}
    </div>
    <div>
        <label> <b> Balance: </b></label> {{account.balance}}
    </div>
    <div>
        <label> <b> Dob </b></label> {{ account.dob }}
    </div>
    <div>
        <label> <b>Account Type  </b></label> {{ account.accountType }} 
    </div>
    <div>
        <label> <b> Address </b></label>  {{ account.address }} 
    </div>
    <div>
        <label> <b> city  </b></label> {{ account.city }}
    </div>
    <div>
        <label> <b> phone  </b></label> {{ account.phone }} 
    </div>
    <div>
        <label> <b>E-mail  </b></label> {{ account.email }}
    </div>
</div>
